.output-result {
    background: linear-gradient(180deg, #72b7be, #84cfd6, #8ddee7, #84cfd6, #72b7be);
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
    
  .display {
    font-family: 'Space Mono', monospace;
    color: #353535;
    padding: 0 5% 0 5%;
    /* max-width: 90%; */
    text-align: end;
    word-break: break-all;
  }